---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="About"
	description="My Cool About Page"
>
	<main>
        <h1>About <span class="text-gradient">%n</span>!</h1>
        <div class="instructions">
            <p>
                I like to do all sorts of hackery and sins to computers
                and talking about it.
            </p>
            <p>
                This site is purely my own without any help.
                I'm the greatest website writer ever and no one
                is allowed to tell me otherwise.
            </p>
        </div>
	</main>
</Layout>

