---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
title="Welcome to %n!"
description="My Cool Welcome Page">
	<main>
		<h1>Welcome to <span class="text-gradient">%n</span></h1>
		<p class="instructions">
			Lol. Welcome. I write about goats. And sometimes hack stuff. Yeah...
		</p>
	</main>
</Layout>

