---
import Layout from "./Layout.astro"
interface Props {
    frontmatter: {
		title: string;
		description: string;
		pubDate: Date;
		tags: string[];
	}
}

const { title, description, pubDate, tags } = Astro.props.frontmatter;
---

<Layout title={title} description={description}>
	<div class="instructions">
		<p>This blog has tags:
			<span>
				{tags.map(t => <>{" "}<a href={`/percentn/tags/${t}`}>{t}</a></>)}
			</span>
		</p>
		<slot />
	</div>
</Layout>
  
