---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/percentn">Home</a></li>
				<li><a href="/percentn/about">About</a></li>
				<li><a href="/percentn/projects">Projects</a></li>
				<li><a href="/percentn/ramblings">Ramblings</a></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: #ffffff
	}
	body {
		margin: 0;
		padding: 16px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	nav ul {
		list-style: none;
		font-size: 1.5em;
		margin: 0;
		padding-top: 0.5em;
		padding-bottom: 1em;
	}
	nav ul li {
		display: inline-block;
		margin: 0em 0.5em;
	}
	nav ul li a {
		display: block;
		padding: 0.5em;
		border-radius: 2em;
		line-height: 1em;
		border: 1px solid rgb(var(--accent));
		color: white;
		text-decoration: none;
	}
	nav ul li a:hover {
		border: 1px solid rgb(var(--accent-light));
		background-color: rgba(var(--accent-light), 0.2);
	}
	a {
		color:aqua;
	}
	a:visited {
		color:aquamarine;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
